body {
    margin-top: 70px;
    font-family: 'Raleway', sans-serif;
    background-color: ;
    font-size: 105%;
}

.col1 {
    max-width: 450px;
    margin-top: 20px;
}

.col2 {
    max-width: 600px;
    letter-spacing: 0.5px;
    line-height: 30px;
}

.avatar {
    width: 170px;
    margin-top: 10px;
}

.box {
    padding: 0 35px 0 35px;
}

.social {
    border: 0px solid transparent;
}

.list-group .list-group-item {

    border: 0px solid transparent;
}

.avatar-bg {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(../imgs/bg.jpg);
    background-size: cover;
    background-position: center center;
}