#top {
	background-image: url("imgs/back.jpg");
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

body {
	background-color: #ffffff !important;
}

.about {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 170%;
	margin-right: 150px;
	letter-spacing: 0.5px;
	line-height: 40px;
}